<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watizit" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/sr_appName"
        android:name=".classes.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".menus.MainMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".menus.OptionsMenu"
            android:label="Options menu"
            android:parentActivityName=".menus.MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menus.MainMenu" />
        </activity>

        <activity android:name=".menus.LevelMenu"
            android:label="Level menu"
            android:parentActivityName=".menus.LevelsListMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menus.LevelsListMenu"/>
        </activity>

        <activity android:name=".menus.LevelsListMenu"
            android:label="Levels list menu"
            android:parentActivityName=".menus.MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menus.MainMenu"/>
        </activity>

        <service
            android:name=".classes.MusicService"
            android:enabled="true">
        </service>

        

    </application>

</manifest>